@model IEnumerable<lab6.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<link href="~/StyleSheetAdmin.css" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

@if (ViewBag.Users.Count == 1)
{
    <p class="lead"><i>There are no users rather than yourself...</i></p>
} else {
    <table class="table-bordered table-hover table-responsive">
        <th>Username</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
        <tbody>
            @foreach (var item in ViewBag.Users)
            {
                if (item.UserName == "admin@admin.com")
                {
                    continue;
                }
                <tr>
                    <td style="padding: 20px">@item.UserName</td>
                    <td>@item.Email</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}