@{
    ViewBag.Title = "Index";
}

<link href="~/StyleSheetPosts.css" rel="stylesheet" type="text/css" />

<div class="title-header">
    <h1 class="title-label">@ViewBag.Post.Content</h1>
</div>

<div style="text-align:center">
    <input class="form-control" placeholder="Add a comment..." type="text" id="new_comment" />
    <button class="btn btn-default" id="bt-newcomment">Add</button>

    @section scripts
    {
        <script>
        $(document).ready(function () {
            $("#bt-newcomment").on("click", function () {

                console.log("****");
                console.log(JSON.stringify({
                            "Content": $("#new_comment").val(),
                            "PostId": @ViewBag.Post.PostId
                        }));

                if (confirm("Are you sure?")) {
                    $.ajax({
                        url: "/api/Comments",
                        method: "POST",
                        cache: false,
                        data: JSON.stringify({
                            "Content": $("#new_comment").val(),
                            "PostId": @ViewBag.Post.PostId
                        }),
                        contentType: "application/json",
                        success: function () {
                            console.log("Done hehehe")
                            location.reload();
                        }
                    });
                }
            });
        });
        </script>
    }
</div>

<table class="table">
    @foreach (var comment in ViewBag.Post.Comments)
    {
    <div class="comment-item">
        @{
            if (comment.Author != null)
            {
                <h2>@comment.Author</h2>
            } else
            {
                <h2>Anonymus</h2>
            }

            <p>@comment.Content</p>
            <hr />
            <div class="comment-actions">
                @{
                    <span>@comment.Engagement.Likes Likes</span>
                }
            </div>

        }
    </div>
    }

</table>
