@model IEnumerable<lab6.Models.Post>

@{
    ViewBag.Title = "ListPosts";
}

<link href="~/StyleSheetAdmin.css" rel="stylesheet" type="text/css" />

<h2>ListPosts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered table-hover table-responsive">
    <tr>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding: 20px">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PostId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
            </td>
        </tr>
    }

</table>
