@model IEnumerable<lab6.Models.Topic>

@{
    ViewBag.Title = "ListTopics";
}

<h2>ListTopics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopicId })
        </td>
    </tr>
}

</table>
