@model IEnumerable<lab6.Models.Topic>

@{
    ViewBag.Title = "ListTopics";
}

<link href="~/StyleSheetAdmin.css" rel="stylesheet" type="text/css" />

<h2>ListTopics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TopicId })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TopicId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
            </td>
        </tr>
    }

</table>
